:root {
  --border-none: 0;
  --border-stroke-1: 1px;
  --border-stroke-2: 2px;
  --border-radius-none: 0;
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-12: 12px;
  --border-radius-24: 24px;
  --border-rounded: 50%;
}

$palettes: (
  dark-blue: (
    0: #0d1942,
    10: #15245a,
    20: #213373,
    30: #2a3e86,
    40: #324794,
    50: #3d54a6,
    60: #4b63b9,
    70: #5a73cd,
    80: #6984e2,
    90: #96adff,
    95: #abbeff,
    99: #c4d2ff,
    100: #ecf0ff,
  ),
  grey: (
    0: #0d0f10,
    10: #1a1d20,
    20: #292e33,
    30: #373e45,
    40: #454f59,
    50: #616a74,
    60: #737f8b,
    70: #8e99a7,
    80: #9ca7b6,
    90: #c9d0db,
    95: #e6e9ef,
    99: #f5f7fb,
    100: #fdfdfe,
  ),
  green: (
    0: #058e61,
    10: #069a69,
    20: #06ac75,
    30: #05bc80,
    40: #06c587,
    50: #04d28f,
    60: #15de9d,
    70: #28e4a7,
    80: #37eab0,
    90: #59f0bf,
    95: #71fdcf,
    99: #94fedc,
    100: #cdffef,
  ),

  red: (
    0: #f12525,
    10: #f43131,
    20: #f43f3f,
    30: #f54949,
    40: #f65555,
    50: #f55b5b,
    60: #f66464,
    70: #f86f6f,
    80: #ff9090,
    90: #ffb2b2,
    95: #ffc3c3,
    99: #ffcfcf,
    100: #fdd,
  ),
  orange: (
    0: #e67a02,
    10: #ee8612,
    20: #f28e1e,
    30: #f69222,
    40: #f79629,
    50: #f89f3c,
    60: #f7a850,
    70: #ffbe75,
    80: #ffc888,
    90: #ffd3a1,
    95: #ffd9ae,
    99: #ffe2c1,
    100: #fdf0e2,
  ),
  purple: (
    0: #5507b0,
    10: #6713ca,
    20: #7317df,
    30: #7f1ff0,
    40: #892cf7,
    50: #9443f4,
    60: #9b51f2,
    70: #a261ef,
    80: #ad77ee,
    90: #b788ef,
    95: #c19aee,
    99: #ceb4ed,
    100: #e7def2,
  ),
  white: (
    100: #fff,
  ),
);
